<!DOCTYPE html>
<html>
<head> <meta charset = "utf-8">
<title>home</title>
</head>

<body>
	{{> header}}
	<h1> {{pageTitle}}</h1>
	<h1>{{screamIt message}} </h1>
<p> some text here</p>

{{> footer}}
</body>

</html>
